.App {
  text-align: center;
}

.Navbar {
}

.background {
  max-width: 100%;
  height: auto;
}

.welcome {
  font-family: "Lobster", cursive;
  border-radius: 10px;
}

.about {
  margin-top: 1em !important;
}

.information {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em !important;
  line-height: 20pt;
}
